/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Lato', sans-serif;
}

button {
  padding: 5px;
  cursor: pointer;
  font-size: 24px;
}

/* Regole header */

.option {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  z-index: 99;
}

.option > button {
  color: white;
  background-color: rgb(74, 74, 74);
  border-radius: 10px;
  padding: 5px;
}

/* Regola main */

main {
  height: 100vh;
  margin-bottom: 300px;
}

/* Regole righe webcam */

.row {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Regole webcam */

.camera {
  margin: 5px;
  position: relative;
}

.info {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 2px;
  background-color: rgb(74, 74, 74);
}


/* Regole footer */

.setting {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(34, 34, 34);
}

.setting button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 20px;
  color: white;
}

.fa-share-from-square {
  color: green;
}

.fa-chevron-up {
  font-size: 15px;
}

.setting h6 {
  margin-top: 5px;
  font-size: 15px;
}

#exit {
  background-color: rgb(74, 74, 74);
}

#exit > button {
  height: 100%;
  width: 100%;
  color: red;
}

/* DEBUG */

/* .option {
  background-color: blue;
} */

/* .setting {
  background-color: violet;
} */