/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Lato', sans-serif;
  
}

button {
  padding: 5px;
  cursor: pointer;
  font-size: 24px;
}

/* Regole header */

header {
  height: 5vh;
  text-align: right;
  padding-top: 5px;
  position: relative;
}

.option {
  top: 20px;
  right: 30px;
  position: absolute;
  z-index: 99;
}

.option > button {
  color: white;
  background-color: rgb(74, 74, 74);
  border-radius: 10px;
}

/* Regola main */

main {
  height: 85vh;
  overflow: auto;
}

/* Regole righe webcam */

.row {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Regole webcam */

.camera {
  margin: 5px;
  position: relative;
}

.info {
  color: white;
  position: absolute;
  bottom: 20px;
  padding: 2px;
  background-color: rgb(74, 74, 74);
}


/* Regole footer */

footer {
  height: 10vh;
}

.setting {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}

.setting button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 20px;
  color: white;
}

.fa-share-from-square {
  color: green;
}

.fa-chevron-up {
  font-size: 15px;
}

.setting h6 {
  margin-top: 5px;
  font-size: 15px;
}

#exit {
  background-color: rgb(74, 74, 74);
}

#exit > button {
  height: 100%;
  width: 100%;
  color: red;
}

/* DEBUG */
/* header {
  background-color: brown;
} */
/* main {
  background-color: violet;
} */

/* main {
  background-color: blue;
} */

/* .row {
  height: 300px;
  background-color: green;
} */
/* .option {
  background-color: blue;
} */

/* .setting {
  background-color: violet;
} */